body{
    background-color: #f5f5f5;
}
.breadcrumbs{
    padding:0.4%;
    box-shadow: 0px 1px 1px 1px #00000025;
    margin-bottom: 2%;
}
section{
    display:flex;
    flex-direction: column;

    margin-left:20%;
    margin-right:20%;
}
.head{
    font-size: 42px;
    font-weight: lighter;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:2%;
    margin-right:2%;
    margin-top:5%;
}

.info-container{
    display:flex;
    flex-direction: column;
}
.info-block{
    display: flex;
    flex-direction: column;
    margin-bottom:20%;
}
.block-head{
    font-size: 28px;
    margin-bottom: 8%;
}
.info{
    font-size:18px;
    margin-bottom: 8%;
    font-weight: lighter;
}
.link-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.link-block a{
    text-decoration: underline;
    font-size: 18px;
    margin-right:5%;
}
.link-block img{
    width:10%;
}
.map-container{
    width:90%;
    height:50%;
    display: flex;
    justify-content: space-around;
}

@media (max-width:412px){
    .head{
        font-size: 24px;
        font-weight: bold;
    }
    section{
        margin-left:2%;
        margin-right: 2%;
        margin-top:5%;
    }
    .container{
        flex-direction: column;
    }
    .block-head{
        font-size: 18px;
        font-weight: bold;
        margin-bottom:4%;
    }
    .info{
        font-size:12px;
        margin-bottom: 2%;
    }
    .info-block{
        margin-bottom:8%;
    }
    .link-block{
        justify-content: unset;
    }
    .link-block a{
        font-size: 12px;
    }
    .link-block img{
        width:4%;
    }
    .map-container{
        align-self: center;
    }
}