<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/404.css">
    <title>404</title>
</head>
<body>
    <script src="../script/header_include.js"></script>
    <section>
        <img src="../img/404.svg">
        <p>Страница, которую Вы ищете не существует.</p>
        <p>Попробуйте перейти на <a href="../index.html">главную</a> или в <a href="in_stock.html">каталог</a>.</p>
        <div class="image">
            
        </div>
    </section>
    <script src="../script/footer_include.js"></script>
</body>
</html>