<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/finance_programs.css">
    <title>finance_programs</title>
</head>
<body>
    <script src="../script/header_include.js"></script>
    <div class="breadcrumbs">
        <p><a href="../index.html">Главная</a> > <a href="finance_programs.html">Финансовые программы</a></p>
    </div>
    <section>
        <p class="head">
            Купите автомобиль сегодня – платите позже!
        </p>
        <div class="programs">
            <div class="program">
                <img src="../img/sber.svg">
                <a href="https://www.sber-bank.by/credit-potreb/buy-car/advantages" target="_blank">
                    <div class="button">
                        <p>ОФОРМИТЬ</p>
                    </div>
                </a>
            </div>
            <div class="program">
                <img src="../img/alfa.svg">
                <a href="https://a-leasing.by/private/" target="_blank">
                    <div class="button">
                        <p>ОФОРМИТЬ</p>
                    </div>
                </a>
            </div>

        </div>
    </section>
    <script src="../script/footer_include.js"></script>
</body>
</html>