<footer>
    <div class="footer-container">
        <div class="links-container">
            <div class="links-row">
                <div class="link-column">
                    <p class="link-head">Автомобили с пробегом</p>
                    <a href="#"><p>Автомобили с большим пробегом</p></a>
                    <a href="#"><p>Автомобили "как с салона"</p></a>
                    <a href="#"><p>Сервис Trade-In</p></a>
                </div>
                <div class="link-column">
                    <p class="link-head">Владельцам</p>
                    <a href="#"><p>Услуги сервиса</p></a>
                    <a href="#"><p>Запасные масла и расходники</p></a>
                    <a href="#"><p>Гарантийное обслуживание и ремонт</p></a>
                </div>
                <div class="link-column">
                    <p class="link-head">Об автосалоне</p>
                    <a href="#"><p>Автосалон</p></a>
                    <a href="#"><p>Сотрудники</p></a>
                    <a href="#"><p>Новости</p></a>
                    <a href="#"><p>Контакты</p></a>
                    <a href="#"><p>Как добраться?</p></a>
                </div>
            </div>
            <div class="main-links">
                <a href="#"><p>Специальные предложения</p></a>
                <a href="#"><p>Записаться на обслуживание</p></a>
                <a href="#"><p>Записаться на ремонт</p></a>
                <a href="#"><p>Служба клиентской поддержки</p></a>
            </div>
        </div>
        <div class="contacts-container">
            <div class="contacts-info">
                <div class="contact-block">
                    <p>тел.</p>
                    <p>+375 (29) 865 79 68</p>
                </div>
                <div class="contact-block">
                    <p>Адрес</p>
                    <p>г. Минск, ул. Савицкого, д.3</p>
                </div>
            </div>
            <div class="social-media">
                <div class="social-img"></div>
                <div class="social-img"></div>
                <div class="social-img"></div>
                <div class="social-img"></div>
            </div>
        </div>
    </div>
</footer>