<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <title>header</title>
</head>
<body>
    
    <header>
        <div class="contact-header">
            <div class="contact-header-container">
                <div class="adress">
                    <img src="../img/location.svg">
                    <a href="#"><p>г. Минск, ул. Савицкого, 3</p></a>
                </div>
                <div class="num">
                    <p>тел. +375 (29) 865 79 68</p>
                </div>
                <div class="callback-btn">
                    <a href="#"><p>Заказать обратный звонок</p></a>
                </div>
            </div>
        </div>
        <nav class="nav">
            <div class="nav-container">
                <img src="../img/logo.svg">
                <div class="pages">
                    <div class="page">
                        <p><a href="#">Автомобили в наличии</a></p>
                        <div class="underline"></div>
                    </div>
                    <div class="page">
                        <p><a href="#">Специальные предложения</a></p>
                        <div class="underline"></div>
                    </div>
                    <div class="page">
                        <p><a href="#">Финансовые программы</a></p>
                        <div class="underline"></div>
                    </div>
                </div>
                <p class="about-btn">Об автосалоне</p>
            </div>
        </nav>
    </header>
    <script src="../script/underline_menu.js"></script>
</body>
</html>