<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/in_stock.css">
    <title>in_stock</title>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="../script/filters.js"></script> -->
</head>
<body>
    <script src="../script/header_include.js"></script>
    <div class="breadcrumbs">
        <p><a href="../index.html">Главная</a> > <a href="#">Автомобили в наличии</a></p>
    </div>
    <section class="card-section">
        <p class="head">28 автомобилей в наличии</p>
        <div class="sort-block">
            <select class="sort" id="sort" onchange="getValue(this)">
                <option value="price_asc">По возрастанию цены</option>
                <option value="price_desc">По убыванию цены</option>
                <option value="run_asc">По возрастанию пробега</option>
                <option value="run_desc">По убыванию пробега</option>
                <option value="year_asc">По возрастанию года</option>
                <option value="year_desc">По убыванию года</option>
            </select>
        </div>
        <div class="card-wrapper">
            <script src="../script/cards.js"></script>
        </div>
    </section>
    <!-- <div class="card">
        <img src="../img/автоподбор.jpg">
        <div class="info-block">
            <div class="row">
                <div class="name-model">
                    <p>ГАЗ</p>
                    <p>21</p>
                </div>
                <p>2023</p>
            </div>
            <div class="row">
                <p>326000 км</p>
                <p>Бензин</p>
                <p>Седан</p>
            </div>
        </div>
        <div class="bottom-row">
            <p>9000$</p>
            <a href="#"><p>Просмотр автомобиля</p></a>
        </div>
    </div> -->    
    <!-- <div class="filters">
        <form class="filter">
            <div class="range-block">
                <label>Цена, BYN</label>
                <div class="range">
                    <input type="text">
                    <input type="text">
                </div>
                <div id="price-slider-range"></div>
            </div>
            <div class="range-block">
                <label>Пробег, км</label>
                <div class="range">
                    <input type="text">
                    <input type="text">
                </div>
                <div id="run-slider-range"></div>
            </div>
            <div class="range-block">
                <label>Год производства</label>
                <div class="range">
                    <input type="text">
                    <input type="text">
                </div>
                <div id="year-slider-range"></div>
            </div>
            <div class="select-option">
                <label>Бренд</label>

            </div>
        </form>
    </div> -->
    <script src="../script/footer_include.js"></script>
</body>
</html>